VITE_SUPABASE_URL=https://gtqwixzhujviivnfkaaj.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imd0cXdpeHpodWp2aWl2bmZrYWFqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTM2MDcyMDIsImV4cCI6MjA2OTE4MzIwMn0.EjvaS4AH10-zmKx8NxpF2J0fkwtALZa9VxsKabew1g0